<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/"/>
        <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
        <title>After Dark - The Teslanauts Return</title>
        <link rel="stylesheet" type="text/css" href="/normalize.css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/leaflet/dist/leaflet.css">
        <link href="https://fonts.googleapis.com/css?family=Antic|Bungee|Exo|Questrial|Rock+Salt|" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
        <!--FIREBASE CONFIG-->
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
        <script src="/moment/moment.js"></script>
        <script src="/lodash/index.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/geofire/dist/geofire.min.js"></script>
        <script src="/phaser/build/phaser.min.js"></script>
        <script src="/libraries/phaser-touch-control.min.js"></script>
        <script src="/ngstorage/ngStorage.min.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="/leaflet/dist/leaflet.js"></script>
        <script src="/ui-leaflet/dist/ui-leaflet.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>
        <script src="/firebase/firebase.js"></script>
        <script src="/angularfire/dist/angularfire.min.js"></script>
        <script src="/main.js"></script>
    </head>
    <body ng-app="AfterDark" class="Site">
        <div class="ui-view-container Site-content">
            <div id="WelText" style="position: absolute; top: 20em; width: 100%;
                text-align: center; margin-top: -1.25em; z-index: 100000; transition: top 0.5s ease-in-out 0.5s; pointer-events: none">
                <h1>After Dark</h1>
            </div>
            <!-- MARS HERE -->
            <div id="WelImage" style="position: absolute; text-align: center; top: 20em; z-index: 100000; width: 100%;
            transition: opacity 1.0s ease-in-out 1.0s; display: inline-block; pointer-events: none">
                <img style="height: 20em; width: 20em" src="/pimages/Mars.png">
            </div>
            <modal></modal>
            <div id="master" class="col-xs-12" ui-view>
            </div>
        </div
        >
    </body>
    <script>
    window.mouseXY = {
        x: 0,
        y: 0
    }
    $(function() {
    $('#WelText').css('top','0');
    });
    $(function() {
        $('#WelImage').css('opacity', '0')
    })
    $('#modal').on('show', function () {
    $('.modal-body',this).css({width:'auto',height:'auto', 'max-height':'100%', 'transition':'height 1s, transform 1s'});
    });
    $('body').mousemove(function(event) {
        window.mouseXY.x = event.clientX
        window.mouseXY.y = event.clientY
    })
    </script>
</html>