<div id="myPrompt">
  <div class="modal-header" style="text-align: center">
    <h3 class="modal-title" id="myModalLabel" style="color: black">Messages</h3>
  </div>
  <div class="modal-body" style="padding-top: 0; padding-bottom: 0;">
    <notify-message ng-repeat="message in notifications" data="message" ng-click="goToMessage(message)" style="cursor: pointer"></notify-message>
    <div style="text-align: center" ng-show="notifications.length === 0">
      <h4> There are no messages. </h4>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" style="display: block; margin: 0 auto" class="btn btn-secondary" ng-show="notifications.length === 0" ng-click="exitNotify()">Close</button>
  </div>
</div>