<!--<div class="container">-->
    <!--<div id="appName">-->
        <!--<a id="home-link" ui-sref="master.navbar.home"> <div> <h1 id="appNameText">After Dark</h1> </div> </a>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
        <!--<li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">-->
            <!--<a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<button ng-show="!user" ui-sref="master.navbar.login" class="btn login-button" id="forceButtonChange">Login</button>-->
    <!--<button ng-show="!user" ui-sref="master.navbar.signup" class="btn signup-button" id="forceButtonChange">Sign-Up</button>-->
    <!--<div ng-show="user" class="welcome">-->
        <!--<span id="login-status-text">{{ user.email }}</span>-->
        <!--<a id="login-status-link" ng-click="logout()">Logout</a>-->
    <!--</div>-->
<!--</div>-->

<!--HAMBURGER MENU ON TOP-LEFT-->
<div class="dropdown" ng-show="isLoggedIn()">
    <a class="dropdown-toggle glyphicon glyphicon-menu-hamburger" style="float:left;font-size: 2em; margin-top: 0.2em; margin-bottom: 0.2em; margin-left: 0.2em; z-index: 100001"
       id="navBarDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navBarDropDown" style="margin-top: 2.8em">
        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
        </li>
        <!--<li ng-show="hasCharacter()">-->
            <!--<a>Wasteland 2</a>-->
        <!--</li>-->
        <li ng-show="isLoggedIn()">
            <a style="cursor: pointer" ng-click="openInventory()"> Inventory </a>
        </li>
    </ul>
</div>

<!--LOGIN & SIGNUP BUTTONS IN NAV-BAR-->
<button ng-show="!user" ui-sref="master.navbar.login" class="btn login-button" id="forceButtonChange">Login</button>
<button ng-show="!user" ui-sref="master.navbar.signup" class="btn signup-button" id="forceButtonChange">Sign-Up</button>
<div ng-show="user" class="welcome" style="margin-right: 0.2em">
<a id="login-status-link" ng-click="logout()">Logout</a>
</div>