<h2 style="text-align: center">Character Creation</h2>
<br>
<div class="col-xs-6 col-xs-offset-3">
    <uib-tabset active="active" id="tabs" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                Miner
            </uib-tab-heading>
            <br>
            <p>
                You are a former miner from Tesla Enterprises, born and bred in the
                Martian shadows. While not the brightest of mind, you have a knack for
                extracting valuable Elonium from scrap metal.
            </p>
            <br>
            <ul>
                <li>Increased detection of scrap metal on map (+0.5 km radius)</li>
                <li>Enhanced processing of collected scrap metal to Elonium (+10%)</li>
            </ul>
            <form id="miner-form" name="minerForm" ng-submit="">
                <label>Write Your Own Story</label>
                <textarea type="text" class="form-control" ng-model="minerDesc" placeholder="Optional..."></textarea>
                <button style="display: block; margin: 0 auto; margin-top: 1em;" type="submit" class="btn btn-danger btn-sm text-center">Choose Miner</button>
            </form>
        </uib-tab>

        <uib-tab index="1">
            <uib-tab-heading>
                Scientist
            </uib-tab-heading>
            <form id="scientist-form" name="scientistForm">
                <label>Write Your Own Story</label>
                <input type="text" class="form-control" ng-model="scientistDesc">
            </form>
        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                Soldier
            </uib-tab-heading>
            <form id="soldier-form" name="soldierForm">
                <label>Write Your Own Story</label>
                <input type="text" class="form-control" ng-model="soldierDesc">
            </form>
        </uib-tab>
    </uib-tabset>

    </div>
