<div id="signUpSettingsDiv">
    <h3 id="content-header">Account Settings</h3>
    <hr id="content-hr"></hr>
    <div class="row">
        <span id="checkbox-span">What days do you work?</span>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <form id="signup-settings-form" name="signupSettingsForm" ng-submit="signupSettingsForm.$valid && createSettings(settings)">
                <alert type="danger" ng-show="error">
                    {{ error }}
                </alert>
                <div class="form-group" name="chkboxs" ng-model="settings.workdays" id="checkbox-group">
                    <label class="checkbox-inline" for="{{ day.number }}" ng-repeat="day in week">
                        <input type="checkbox" data-ng-model="day.selected" value="{{ day.number }}">
                        {{ day.name }}
                    </label>
                </div>
                <alert type="danger" ng-show="!isOptionsRequired()">
                    <span>
                        Must select atleast 1 day.
                    </span>
                </alert>
                <br>
                <div class="row">
                    <span id="checkbox-span">What time do you start your day?</span>
                </div>
                <br>
                <div class="row">
                    <select id="wakeup-setting" ng-init="settings.waketime = settings.waketime || '8:00'" ng-model="settings.waketime" class="form-control">
                        <option value="5:00">5:00 AM</option>
                        <option value="5:30">5:30 AM</option>
                        <option value="6:00">6:00 AM</option>
                        <option value="6:30">6:30 AM</option>
                        <option value="7:00">7:00 AM</option>
                        <option value="7:30">7:30 AM</option>
                        <option value="8:00" selected>8:00 AM</option>
                        <option value="8:30">8:30 AM</option>
                        <option value="9:00">9:00 AM</option>
                        <option value="9:30">9:30 AM</option>
                        <option value="10:00">10:00 AM</option>
                    </select>
                </div>
                <br>
                <span>
                </span>
                <button id="submitForm" type="submit" class="btn btn-default" ng-disabled="signupSettingsForm.$invalid || !isOptionsRequired()">Submit</button>
            </form>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
