<!--BUNKER VIEW + BUNKER MENU-->
<div id="gameContainer">
    <h3 id="gameTitle">You've returned to your bunker!</h3>

    <!--BUNKER MENU-->
    <div class="btn-group-vertical" role="group" id="game-menu" ng-show="showMenu()">
        <div id="gameMenuTitle">Game Menu</div>
        <button class="btn btn-sm btn-default">View Resources</button>
        <button class="btn btn-sm btn-default" ng-click="addFloor()">Add Floor</button>
        <button class="btn btn-sm btn-default">Upgrade</button>
        <button class="btn btn-sm btn-default" ng-click="saveBunker()">Save Game</button>
    </div>

    <!--DIRECTIVE THAT BUNKER PHASER GAME ATTACHES TO-->
    <game-canvas data="showGame"></game-canvas>
</div>