<!--BUNKER VIEW + BUNKER MENU-->
<div id="gameContainer">
    <h3 id="gameTitle">You've returned to your bunker!</h3>
    <button id="bunkerBtn" class="btn btn-sm btn-default" ng-click="menuVisible()">Bunker Menu</button>

    <!--BUNKER MENU-->
    <div class="btn-group-vertical" role="group" id="game-menu" ng-show="showMenu()" style="margin-top: 2em">
        <div id="gameMenuTitle">Game Menu</div>
        <button class="btn btn-sm btn-default">View Resources</button>
        <button class="btn btn-sm btn-default" ng-click="addFloor()">Add Floor</button>
        <button class="btn btn-sm btn-default" ng-click="saveBunker()">Upgrade</button>
        <button class="btn btn-sm btn-default" ng-click="saveBunker()">Save Game</button>
        <button class="btn btn-sm btn-default" ng-click="clearBunker()">Clear Bunker</button>
    </div>
    <br>

    <!--PAUSE MESSAGE-->
    <h1 id="gamePauseMsg" ng-show="showMenu()">GAME PAUSED</h1>

    <!--DIRECTIVE THAT BUNKER PHASER GAME ATTACHES TO-->
    <game-canvas data="showGame" bunker="bunkerState"></game-canvas>
</div>