<div style="text-align: center">
	<h3>You do not have a Bunker.</h3>
	<h4>Ready to begin your Journey?</h4>
	<h4>Your current location will be used as your bunker's location.</h4>
	<h4><span style="color: red; text-decoration: underline">You cannot move or change this later.</span></h4>
	<br>
	<h4>Location Showing As: </h4>
	<br>
	<h3>Proceed to Build Bunker?</h3>
	<hr style="max-width: 40%;">
	
	<button ng-click="logout()" class="btn btn-danger" style="margin-right: 1em">Let's Wait</button>
	<button ng-click="createBunker()" class="btn btn-success" style="margin-left: 1em">I'm Ready!</button> 
</div>