navbar {

  z-index: 99999;
  display: block;
  position: fixed;
  width: 100%;
  opacity: 0.75;
  background-color: #263238;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  #login-status-text {
    color: #4CAF50;
  }

  #login-status-link {
      color: #FFB300;
      cursor: pointer;
      transition: color 0.2s;
      &.active {
        color: lighten(#FFC107, 10%);
      }
      &:hover {
        background: none;
        color: lighten(#FFC107, 5%);
      }
      &:focus {
        background: none;
      }
  }

  #appName {
    margin: 0 auto;
    text-align: center;
    font-family: 'Bungee', sans-serif;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 0px;
  }

  hr {
    border-color: #FFB300;
  }

  a {
    color: #FFB300;
    font-size: 16px;
  }

  //.nav > li > a {
  //  cursor: pointer;
  //  transition: color 0.2s;
  //  &.active {
  //    color: lighten(#FFC107, 10%);
  //  }
  //  &:hover {
  //    background: none;
  //    color: lighten(#FFC107, 5%);
  //  }
  //  &:focus {
  //    background: none;
  //  }
  //}

  #navBarDropDown {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: lighten(#FFC107, 10%);
      text-decoration: none;
    }
    &:hover {
      background: none;
      color: lighten(#FFC107, 5%);
      text-decoration: none;
    }
    &:focus {
      background: none;
      text-decoration: none;
    }
  }

  .login-button {
    margin-left: 1em;
    float: right;
    border: 1px solid black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    background: none;
    outline: none !important;
  }

  .signup-button {
    float: left;
    border: 1px solid black;
    margin-left: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }
}
