<div id="overview-container" style="overflow-y: auto; height: 100%; width: 100%; margin: 0 auto;">
	<h3 style="text-align: center">{{myUsername}} Lv. {{myLevel}}</h3>
	<h4 style="text-align: center">{{myTitle}} from {{myLocation}}</h4>
	<div id="graphical-overview" style="height: 20em; width:14em; margin: 0 auto; margin-top: 1em">
		<img ng-src="/pimages/miner.png" height="100%" width="100%" ng-show="myChar.perk === 'miner'">
		<img ng-src="/pimages/scientist.png" height="100%" width="100%" ng-show="myChar.perk === 'scientist'">
		<img ng-src="/pimages/soldier.png" height="100%" width="100%" ng-show="myChar.perk === 'soldier'">
	</div>
	<div style="margin: 0 auto; text-align: center; margin-top: 1em">
		<h4>You have <span style="color: #4CAF50">{{myMoney | currency}}</span></h4>
	</div>
	<div style="margin: 0 auto; text-align: center">
		<h4> Experience - <span style="color: #F44336">{{myExp}}/{{myMaxExp}}</span></h4>
	</div>
	<div class="progress col-sm-10 col-md-5" style="margin: 0 auto; margin-top: 1em; float: none; padding: 0">
		<div class="progress-bar progress-bar-striped active" role="progressbar"
			aria-valuenow="{{myExpPer}}" value="{{myExpPer}}" aria-valuemin="0" aria-valuemax="{{myMaxExp}}" ng-style="myProgress" style="color: black; font-weight: bold">
			<span>{{myExpPer}}</span>
		</div>
	</div>
	<div id="leaveForWastesBut" style="margin: 0 auto; text-align: center; margin-top: 1em;">
		<button class='btn btn-danger' ng-click="goToWasteland()">
			<span> Enter Wasteland </span>
		</button>
	</div>
	<div id="text-overview" style="float: none; margin: 0 auto" class="col-sm-10 col-md-5">
		<hr>
		<h3 style="text-align: center; text-decoration: underline">Stats</h3>
		<stats ng-repeat="stat in myStats" stat="stat"></stats>
		<br>
		<hr>
		<h3 style="text-align: center; text-decoration: underline">Resources</h3>
		<resources ng-repeat="resource in myResources" resource="resource"></resources>
		<br>
	</div>
</div>