#gameContainer {
  height: 100%;
  width: 100%;
}

#gameTitle {
  text-align: center;
}

canvas {
  margin: 0 auto;
}

#game-menu {
  position: absolute;
  margin: 0 0 0 960px;
}

#gameMenuTitle {
  text-align: center;
  color: black;
}

#bunkerBtn {
  margin: auto;
  display: block;
}

#gamePauseMsg {
  position: absolute;
  margin: 50px 500px 0 500px;
  font-family: Bungee;
  font-weight: 300;
  color: darkred;
}