<div style="width: 15%; max-width: 5em; text-align: center; float: left">
	<h4> {{data.title}} </h4>
	<div style="height: 5em; margin-top: 0.1em; margin-bottom: 0.1em">
		<img ng-src="{{data.source}}" style="width: 100%; height: 100%">
	</div>
</div>
<div style="float: right; max-width: 30%; width: 30%; margin-right: 2em; margin-top: 1em; text-align: center">
	<h4> Backpack </h4>
	<div class="progress" style="text-align: center">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{data.pquantity}}"
			aria-valuemin="0" aria-valuemax="{{data.pmax}}" ng-style="data.myProgress">
		</div>
		<span style="font-weight: bold; color: black">{{data.pquantity}}/{{data.pmax}}</span>
	</div>
</div>
<div style="float: right; max-width: 30%; width: 30%; margin-right: 2em; margin-top: 1em; text-align: center">
	<h4> Bunker </h4>
	<div class="progress" style="text-align: center">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{data.bquantity}}"
			aria-valuemin="0" aria-valuemax="{{data.bmax}}" style="width: 0;">
		</div>
		<span style="font-weight: bold; color: black">{{data.bquantity}}/{{data.bmax}}</span>
	</div>
</div>
<hr style="margin: 0; clear: both">