<div id="myInventory">
  <div class="modal-header" style="text-align: center">
    <button type="button" class="close" ng-click="closeInventory()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Inventory</h3>
  </div>
  <div class="modal-body" style="padding-top: 0; padding-bottom: 0">
    <inv-row ng-repeat="item in inventory" data="item" style="max-height: 8em"></inv-row>
  </div>
  <div class="modal-footer">
    <button type="button" style="display: block; margin: 0 auto" class="btn btn-secondary" ng-click="closeInventory()">Close</button>
  </div>
</div>