<div id="myLoad">
  <div class="modal-header" style="text-align: center">
    </button>
    <h3 class="modal-title" id="myModalLabel" style="color: black;">Loading {{loading.title}}</h3>
  </div>
  <div class="modal-body" style="padding-top: 0; padding-bottom: 0; color: black">
  <div style="display: block; margin: 0 auto; margin-top: 2em; margin-bottom: -1.5em; width: 100%">
    <div style="width:10em; height: 10em; margin: 0 auto; padding-left: 1.5em">
      <img ng-src="/pimages/gears.svg">
    </div>
  </div>
  </div>
  <div class="modal-footer">
  </div>
</div>