#main {
    padding: 0;
    margin: 0 auto;
}

#task-semicolon {
    font-weight: bold;
    text-align: center;
    width: 1em;
    max-width: 1em;
    float: left;
}

#task-hour {
    margin-left: 0.5em;
    width: 5em;
    max-width: 5em;
    float: left;
}

#task-minute {
    width: 5em;
    max-width: 5em;
    float: left;
}

#taskdir-time {
    color: white;
}

#taskdir-title {
    color: #CFD8DC;
}

#task-ampm {
    margin-left: 1em;
    width: 6em;
    max-width: 6em;
    float: left;
}

#task-lhour {
    margin-left: 0.5em;
    width: 5em;
    max-width: 5em;
    float: left;
}

#task-lminute {
    width: 5em;
    max-width: 5em;
    float: left;
}

#task-lsemicolon {
    font-weight: bold;
    text-align: center;
    width: 1em;
    max-width: 1em;
    float: left;
}

#time-length-container {
    max-width: 12em;
    margin: 0 auto;
}

#time-task-container {
    max-width: 20em;
    margin: 0 auto;
}

#task-text-container {
    opacity: 1;
    margin-left: 1em;
    margin-right: 1em;
}

#task-inner-container:hover {
    text-decoration: none;
    color: white;
}

#task-creator {
    margin-top: 1em;
}

#task-inner-container:visited {
    text-decoration: none;
    color: white;
}

#task-inner-container:link {
    text-decoration: none;
    color: white;
}

#task-inner-container {
    text-decoration: none;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.2em;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px black;
    background-color: darken(#1B5E20, 10%);
    box-shadow: 1px 1px 14px -3px black;
    text-align: left;
    clear: both;
}

#taskdir-container {
    width: 90%;
    height: 90%;
    margin: auto;
}

#home-link {
    text-decoration: none;
}

#home-link:hover {
    color: #FFB300;
    text-decoration: none;
}

#home-link:visited, #home-link:link {
    color: #FFB300;
    text-decoration: none;
}

#home-header {
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
}

#index-bumper {
    min-height: 3em;
    max-height: 3em;
    height: 3em;
}

#checkbox-span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
}

#checkbox-group {
    margin: 0 auto;
    text-align: center;
}

#content-hr {
    border-color: #90A4AE;
    width: 80%;
}

#content-header {
    text-align: center;
}

label {
    font-size: 1.25em;
    margin-bottom: 0.25em;
    font-weight: normal;
    display: block;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
}

alert {
    text-align: center;
}

input {
    text-align: center;
}

#content-spacing {
    max-height: 2em;
    height: 2em;
    background-color: #37474F;
}

#content-foot-spacing {
    max-height: 2em;
    height: 2em;
    background-color: #37474F;
}

#content {
    width: 100%;
    height: 1000px;
    overflow-x: hidden;
    color: #CFD8DC;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    background-color: #263238;
    border: solid 1px black;
    box-shadow: 1px 1px 14px -3px black;
}

#schedule-task-btn {
    margin-left: 1em;
    display: block;
    border: 1px solid black;
    margin: 0 auto;
    background: none;
    outline: none !important;
    transition: background-color 1s;
    color: #CFD8DC;
    background-color: #37474F;
}

#schedule-task-btn:active {
    background-color: darken(#607D8B, 10%);
}

#schedule-task-btn:hover {
    transition: background-color 1s;
    background-color: #607D8B;
}

#task-container {
    background-color: darken(#263238, 5%);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 20em;
    height: 20em;
    width: 100%;
    border: solid 1px black;
    box-shadow: 1px 1px 14px -3px black;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-xs-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    padding: 0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

html, body {
    min-height: 100%;
    position: relative;
    max-width: 100vw;
}

body {
    margin-bottom: 3em;
    color: #FFB300;
    font-family: 'Exo', sans-serif;
    background-color: #37474F;
    transition: background-color 1s;
    overflow-x: hidden;
    margin: 0 auto;
}

#forceButtonChange:active {
    background-color: darken(#607D8B, 10%);
}

#forceButtonChange:hover {
    transition: background-color 1s;
    background-color: #607D8B;
}

#forceButtonChange {
    transition: background-color 1s;
    color: #FFB300;
    background-color: #37474F;
}
